:root{
    --top-side-ratio: 20vh 12vh 5vh;
    --bottom-sie-ratio: 12vh 5vh;
}

body{
    background-color: black;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}

img{
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 40vh 20vh 20vh;
    gap: 10px;
    grid-template-areas: 
        'main side-1 side-2'
        'main side-3 side-4'
        'main side-5 side-6';
}

.sub-container{
    display: grid;
    border: 3px solid white;
}

#main{
    grid-area: main;
    grid-auto-flow: column;
    grid-template-rows: 40vh 10vh 25vh 5vh;
}

#side-1{
    grid-area: side-1;
    grid-template-rows: var(--top-side-ratio);
}

#side-2{
    grid-area: side-2;
    grid-template-rows: var(--top-side-ratio);
}

#side-3{
    grid-area: side-3;
    grid-template-rows: var(--bottom-sie-ratio);
}

#side-4{
    grid-area: side-4;
    grid-template-rows: var(--bottom-sie-ratio);
}

#side-5{
    grid-area: side-5;
    grid-template-rows: var(--bottom-sie-ratio);
}

#side-6{
    grid-area: side-6;
    grid-template-rows: var(--bottom-sie-ratio);
}
